*{
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(233, 231, 101); */
    background-image: radial-gradient(rgb(252, 255, 73),rgb(234, 253, 60));
}
#main-otp-div{
    margin: auto;
    margin-top: 180px;
    height: 350px;
    width: 400px;
    background-color: rgb(241, 209, 23);
    border-radius: 10px;
    text-align: center;
    box-shadow: 4px 8px 10px 3px rgb(177, 136, 3);
}
h1{
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 4px 4px 4px  rgb(138, 106, 3);
}
#result{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 50px;
    
   
}
div{
    height: 80px;
    width: 50px;
    border: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    border-radius: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 8px 10px 0 rgb(177, 136, 3);
}
#verify{
    height: 50px;
    width: 100px;
    margin-top: 50px;
    background-color: rgb(194, 216, 67);
    border-radius: 10px;
    box-shadow: 4px 8px 10px 0 rgb(177, 136, 3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#verify:hover{
    text-shadow: 2px 2px 2px  rgb(138, 106, 3);
}